@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext);

// Colors
$white: #fff;
$login-background: #00BFD1;

//Fonts
$main-font: 'Roboto Condensed', sans-serif;

.background-login {
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  margin-top: 100px;
  width: 160px;
  height: 160px;
  position: relative;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.main-box-login {
  color: $white;
  padding: 28px;
  border-radius: 5px;
  margin-top: 100px;
  background-color: $login-background;
  text-align: center;
  h1 {
    font-family: $main-font;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  .avatar {
    width: 100%;
    padding: 50px 0 20px 0;
    img {
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .user-number {
    // używasz autoprefixer'a w gulpie więc prefixy -webkit i -ms są tu raczcej niepotrzebne (tu i wszędzie indziej)
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    p {
      font-weight: 700;
    }
    .btn-close {
      font-size: 10px;
      line-height: 10px;
      font-weight: 700;
      margin:5px 11px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgba(255,255,255,0.2);
    }
  }
  .login-input {
    width: calc(100% - 35px);
    display: inline-block;
    height: 35px;
    border-radius: 5px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#ffffff));
    background-image: linear-gradient(to top, #000000, #ffffff);
	  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(var(--white)));
	  background-image: linear-gradient(to top, #000000, var(--white));
	  background-blend-mode: overlay;
	  -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.22);
	  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.22);
  }
  .login-submit {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/keyboard.svg);
    padding-bottom: 10px;
    cursor: pointer;
  }
  button {
    text-transform: uppercase;
    color: $white;
    cursor: pointer;
    font-family: $main-font;
  }
  .btn-active {
    background-color: #fff;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color: #000;
  }
}

.log-nav {
  padding-top: 10px;
  text-transform: uppercase;
  a {
    color: $white;
    font-size: 11px;
  }
  ul {
    padding-left: 0;
    margin-left: 0;
  }
  li {
    display: inline-block;
    margin-left: 15px;
  }
}

// dziwny max-width =) Podaj lepiej w px
@media (max-width: 39.9375em) {

  .logo {
    margin: 20px auto;
  }

  .main-box-login {
    margin-top: 30px;
    .avatar {
      padding: 0;
    }
  }
}